@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #282828;
  color: #d4d4d4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
}
